@import url("https://fonts.googleapis.com/css?family=Anton&display=swap&subset=latin-ext");

body {
  overflow-x: hidden;
  font-family: "Anton", "sans-serif";
  color: #c5b358;
  background-color: #000;
}
.offset:before {
  height: 2rem;
  margin-top: rem;
  content: "";
  display: block;
}

.navbar {
  padding-right: 20px;
  padding-left: 20px;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
  background: rgba(0, 0, 0, 0) !important;
}
.navbar h1 {
  margin-left: 10px;
}
.navbar-logo img {
  height: 75px;
}
.navbar-nav li {
  padding-right: 8px;
}
.navbar-dark .navbar-nav .nav-link {
  color: #c5b358;
  text-shadow: 1px 1px black;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #d4af37;
}
.carousel-item {
  height: 91vh;
}
.carousel-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: inset 50px 30px 150px #000000, inset -50px -30px 150px #000000;
}
.carousel-caption {
  color: #c5b358;
  text-transform: uppercase;
}
.carousel-inner h1 {
  font-size: 500%;
}
.carousel-inner h3 {
  font-size: 250%;
  padding-bottom: 35px;
}

.narrow h1,
p {
  color: #c5b358;
}

.lead {
  color: #c5b358;
}
.narrow {
  width: 75%;
  margin: 0 auto;
  padding-top: 32px;
}
.btn-lg {
  border-width: medium;
  border-radius: 5px;
  padding: 8px 16px;
  text-transform: uppercase;
  margin: 16px;
  color: #000;
  border-color: #d4af37;
  background-color: #c5b358;
}
.btn-lg:hover {
  color: #000;
  background-color: #d4af37;
  border-color: #c5b358;
}

.btn-md {
  border-width: medium;
  border-radius: 5px;
  padding: 8px 16px;
  text-transform: uppercase;
  margin: 16px;
  color: #000;
  border-color: #d4af37;
  background-color: #c5b358;
}

.btn-md:hover {
  color: #000;
  background-color: #d4af37;
  border-color: #c5b358;
}

.jumbotron {
  background-color: #141414;
}
.szolg img {
  max-width: 100%;
  transition: transform 0.5s ease;
}
.row.no-padding [class*="col-"] {
  padding: 0;
}
.szolg img:hover {
  transform: scale(1.03);
  cursor: pointer;
}
.szolgaltatasok {
  overflow: hidden;
}
.offset h1 {
  padding-bottom: 36px;
  text-decoration: underline;
  text-decoration-style: solid;
}
.card-body {
  background-color: #c5b358;
}

.card-body h4,
p {
  color: #000;
}
.fa-facebook-square {
  font-size: 2.2rem;
  color: #3c5a99;
}
.fa-instagram {
  font-size: 2.2rem;
  color: #833ab4;
}
.fa-twitter-square {
  font-size: 2.2rem;
  color: #1da1f2;
}
.fa-youtube {
  font-size: 2.2rem;
  color: #ff0000;
}

.offset h3 {
  color: #c5b358;
}

.fa-facebook-square:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

.fa-instagram:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

.fa-twitter-square:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

.fa-youtube:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}
.urlap-szoveg h1 {
  margin: 2rem;
}
.input {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  display: block;
  margin: 10px;
  padding: 5px;
  text-shadow: 0;
  width: 50%;
  background-color: #141414;
  margin-left: 25%;
  color: #c5b358;
}
.btn-form {
  border-width: medium;
  border-radius: 5px;
  margin-left: 37.5%;
  width: 25%;
  height: 4rem;
  border-color: #d4af37;
  background-color: #c5b358;
  color: #000;
}
.btn-form:hover {
  color: #000;
  border-color: #c5b358;
  background-color: #d4af37;
}
.flex-container p {
  color: #c5b358;
}
.table th,
td,
tr {
  border: 3px solid dimgray;
}
.table:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease;
  cursor: pointer;
}
.table thead {
  background-color: #c5b358;
  color: #000;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.table td {
  background-color: #141414;
}
.fa-calendar-alt{
  margin-right: 10px ;
  color: #fff;
}
.fa-clock{
 margin-right: 10px;
 color: #1da1f2;
}
.fa-tags{
  margin-right: 10px;
  color: #ff0000;
}
.container h1 {
  margin: 4rem;
  text-decoration: underline;
}
/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
